#header {
    display: flex;
    background-color: white;
    padding: 1rem 2rem;

    .header-content {
        font-family: Helvetica;
        font-weight: bold;
        cursor: pointer;
        outline: none;
    }
}