<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="base-table">
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef > Url </th>
            <td mat-cell *matCellDef="let element" class="list-name"> {{element.url}} </td>
        </ng-container>

        <ng-container matColumnDef="forks_count">
            <th mat-header-cell *matHeaderCellDef> Forks count </th>
            <td mat-cell *matCellDef="let element"> {{element.forks_count}} </td>
        </ng-container>

        <ng-container matColumnDef="watchers_count">
            <th mat-header-cell *matHeaderCellDef> Watchers count </th>
            <td mat-cell *matCellDef="let element"> {{element.watchers_count}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
</div>

