 <div class="mat-elevation-z8 main-layout">
    <div class="main-info-wrapper">
        <img src="{{userInfo?.avatar_url}}" alt="avatar">
        <span class="user-name">{{userInfo?.name}}</span>
    </div>
    <div class="summary-wrapper">
        <div class="summary">
            <div class="d-flex">
                <span class="summary-header">Company name:</span>
                <span class="summary-content">{{userInfo?.company}}</span>
            </div>
            <div class="d-flex">
                <span class="summary-header">Email address:</span>
                <span class="summary-content">{{userInfo?.email}}</span>
            </div>
            <div class="d-flex">
                <span class="summary-header">Followers:</span>
                <span class="summary-content">{{userInfo?.followers}}</span>
            </div>
            <div class="d-flex">
                <span class="summary-header">Updated at:</span>
                <span class="summary-content">{{userInfo?.updated_at}}</span>
            </div>

            <div class="d-flex">
                <span class="summary-header">Repositories:</span>
                <button mat-icon-button (click)="goToRepositoryLinks()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>