.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(227, 240, 245);
}

.mainContainer {
    margin: 4.25rem 3rem;
    height: 100%;
}