<div class="main-layout">
    <app-header class="flex-shrink-0"></app-header>

    <div class="mainContainer">
        <router-outlet></router-outlet> 
    </div>

    <app-footer class="flex-shrink-1"></app-footer>
</div>

