.base-table {
    width: 100% !important;

    .list-avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .list-name {
        cursor: pointer !important;
        transition-duration: .3s;
        
        &:hover {
            font-weight: bold;
        }
    }
}